<header>
	<div id="banner" class="banner">

		{% include "components/nav/mainNavLogo.njk" %}

	</div>

</header>


<script>
	$('.menuCheckbox').click(function(){
		if($('body').hasClass('scrollDisable'))
		{
			$('body').removeClass('scrollDisable')
		} else (
			$('body').addClass('scrollDisable')
		)
	});
</script>