{% set navPages = collections.all | eleventyNavigation %}
<ul class="secondary-nav" aria-label="Secondary Navigation" role="menu">
  <li role="menuitem"><a href="contact.asp" aria-label="" class="animated">Resident Yuhu Login</a></li>
  <li role="menuitem"><a href="about.asp" aria-label="" class="animated">FR</a></li>
  <li role="menuitem"><a href="about.asp" aria-label="" class="animated">Site Search</a></li>
</ul>
