<!doctype html>
<html {% if contentname %} data-current="{{ contentname }}"{% endif %} lang="en">
	{% include "components/base/head.njk" %}
	<body class="{{contentname | slug}}-page en">
		{% include "components/base/header.njk" %}
		<main class="container">
			{{ layoutContent | safe }}
		</main>
		{% include "components/base/footer.njk" %}
	</body>
</html>
