---
layout: layouts/_base.njk
---

<div class="list">
  <div class="card">
  card</div>
</div>

<script>

  var x = 0.5;
  var y = 0.5;
  var maxRotation = 5; 
  var element = $(".card");
  var elwidth = $(".card").width();
  var elheight = $(".card").height();

  $(".card").mousemove(function (e) {
    
    var pos = [e.pageX / document.body.clientWidth, e.pageY / document.body.clientHeight];
    var x = e.clientX  - this.offsetLeft - 176 ;
    var y = e.clientY - this.offsetTop - 130;

    for (var i=0;i < pos.length;i++) {
      if (pos[i]<0) {
        pos[i] = 0;
      }
      if (pos[i]>1) {
        pos[i] = 1;
      }
    }

    pos[0] = Math.round( ((-x/250*2)+1.5) * maxRotation) - 8;
    pos[1] = Math.round(((-y/350*-2)+1.5)*maxRotation) - 8;

  element.css({
    '-webkit-transform':'perspective(1800) rotateX('+pos[1]+'deg) rotateY('+pos[0]+'deg) scale(1.02)',
    'box-shadow':''+x/50+'px '+y/50+'px 10px 1px #00000042, 0px 0px 1px 1px #00000022'
  }); 

  });

  $(".card").mouseleave(function (e) {
    element.removeAttr("style");
    
  })


</script>