
    <div class="carousel">
      <div class="arrows">
        <div class="arrow prev">
          <i class="fas fa-chevron-left fa-2x"></i>
        </div>
        <div class="arrow next">
          <i class="fas fa-chevron-right fa-2x"></i>
        </div>
      </div>
      <picture>
      <img src="https://source.unsplash.com/random/?bedroom,kitchen,livingroom" >
      </picture>
      <div class="dots">
        <div class="dot"></div>
        <div class="dot active"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
