  <div class="controls">
    <button class="filterToggle"> filter </button>
    <h1 class=""><button>Calgary</button> / <button>1 Bedroom</button> / Apartments</h1>
    <button class="mapToggle"> map </button>
  </div>