  <div class="controls">
    <input type="button" value="filter" class="filterToggle">
    <h1 class=""><button>Calgary</button> / <button>1 Bedroom</button> / Apartments</h1>
    <input type="button" value="map" class="mapToggle">
  </div>