  <div class="filter shadow"> 
    <div class="login panel hide">
    <h2 class="heading">Profile</h2>
      <div class="Email">Email</div>
      <div class="password">Password</div>
      <button>Sign In</button>
    </div>
    <div class="filte panel">
    <h2 class="heading">Filter</h2>

    <form name="city search" method="POST" class="city-search" autocomplete="off">

      <label for="city" title="Search by City">
        <span class="sr-only">City</span>
        <input id="city" type="text" name="city" placeholder="Enter a City" required>
      </label>
      <label for="city" title="Search by City">
        <span class="sr-only">Suite type"</span>
        <input id="city" type="text" name="city" placeholder="Suite type" required>
      </label>
      <label for="city" title="Search by City">
        <span class="sr-only">budget</span>
        <input id="city" type="text" name="city" placeholder="budget range" required>
      </label>

      <input id="toggle-search" type="checkbox" name="toggle-search" aria-label="Toggle Search" class="toggle-search">

      <label for="city" title="Search by City">
        <span class="sr-only">City</span>
        <input id="city" type="text" name="city" placeholder="Enter a City" required>
      </label>



      <button type="submit" name="search" class="primary">
        <i class="fas fa-search-location"></i>
        <span class="icon-text">Search</span>
      </button>


      </form>


    </div>
  </div>