              <div class="content-availability">
                <h3 class="title">Availability</h3>
                <div class="table-availability">

                  <div class="availability-row heading">
                    <span class="type">1 Bedroom</span>
                    <span class="bath">Bath</span>
                    <span class="sqft">Sq ft</span>
                    <span class="sd">Deposit</span>
                    <span class="availability"></span>
                  </div>

                  <div class="availability-row premium">
                    <span class="type">Premium</span>
                    <span class="bath">1.5</span>
                    <span class="sqft">1030 - 1050</span>
                    <span class="sd">$399</span>
                    <span class="availability">1 Suite Left</span>
                  </div>

                  <div class="availability-row standard">
                    <span class="type">Classic</span>
                    <span class="bath"> 1</span>
                    <span class="sqft">580 - 1100</span>
                    <span class="sd">$399</span>
                    <span class="availability">Available</span>
                  </div>
                  <div class="availability-row basement">
                    <span class="type">Basement</span>
                    <span class="bath">1</span>
                    <span class="sqft">580</span>
                    <span class="sd">$399</span>
                    <span class="availability">Waitlist</span>
                  </div>
                </div>
              </div>
 