
              <div class="content-features">
                <h3 class="title">Features</h3>
                <ul>
                  <li>Dogs  Allowed</li>
                  <li>Cats Allowed</li>
                  <li>Water Included</li>
                  <li>Power Included</li>
                  <li>Family Building</li>
                  <li>Underground Parking</li>
                </ul>
              </div>
 