<div class="contact-heading">

	<div class="content-details">
		<h3 class="info-title">
			<span>$1125</span><small><span>and</span><span>up</span></small>
		</h3>
		4515 Varsity Dr. NW, Calgary
		<div class="details-name">Varsite Square Appartments</div>
	</div>

	<div class="content-contact">

		<button class="contact-share">
			
			Share This <i class="fas fa-share-alt fa-lg"></i>
		</button>
	
		<button class="contact-tel">Tel: 123-123-1234</button>
		<button class="contact-email">Email Us</button>

	</div>
</div>
 