.list {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.card {
  height: 32.36em;
  width: 20em;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 9px 2px #00000042;
  border-radius: 0.25em;
  border: 0.25em solid white;
  transition: all 0.25s ease-in-out;

  &:hover {
    //box-shadow: 0px 0px 3px 0px #00000062;
  }
}

.card::before {
  content: '';
  width: 50%;
  height: 50%;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
