@forward '../components/citySearch/citySearch.scss';
@forward '../components/citySearch/controls.scss';
@forward '../components/citySearch/filter.scss';
@forward '../components/citySearch/map.scss';
@forward '../components/citySearch/results.scss';
@forward '../components/citySearch/card.scss';
header,
footer {
  background: var(--clr-header-bg);
  color: var(--clr-header-ft);
}

.banner {
  //background: var(--clr-banner-bg);
  //color: var(--clr-banner-ft);
}

body {
  background: var(--body-bg-c);
  color: var(--body-ft-c);
}
