.controls {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 0.25em;
  box-shadow: 1px 1px 9px 0px #00000042;
  border-radius: 0.25em;
  border: 0.25em solid white;
  h1 {
    font-size: 0.7em;
    button {
      cursor: pointer;
      background: transparent;
      border: none;
      min-width: 44px;
      min-height: 44px;
    }
  }
  .filterToggle,
  .mapToggle {
    min-width: 44px;
    min-height: 44px;
    border: 1px solid darkslategrey;
    font-weight: 600;
    border-radius: 2px;
  }

  @media screen and (orientation: portrait) {
    h1 {
    }
    button {
    }
  }
}
