.filter {
  position: fixed;
  left: -540px;
  min-height: 100vh;
  width: 100%;
  max-width: 540px;
  z-index: 3;

  &.open {
    left: 0;
  }

  .panel {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    margin: 1em 1.618em 0;
    background: white;
    padding: 0.25em;
    box-shadow: 1px 1px 9px 0px #00000042;
    border-radius: 0.25em;
    border: 0.25em solid white;
    heading {
      font-size: 1.25em;
      line-height: 1.618em;
    }
  }
}
