.results-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: unset;
  min-height: 350px;
  max-width: 100vw;
  z-index: 1;
  padding: 0.5em;
  gap: 1em;

  &.has-open {
    max-width: 41.5em;
    width: 100%;
    flex: unset;
    &.open {
      max-width: unset;
    }
  }

  @media screen and (orientation: portrait) {
    height: calc(100vh - var(--banner-h));
    background: none !important;
    backdrop-filter: none !important;
    box-shadow: none !important;
    &.has-open {
      height: unset;
      max-width: 100vw;
    }
  }

  @media screen and (orientation: landscape) {
    flex: 0 1 28em;
  }

  @media screen and (max-height: 768px) {
    @media screen and (orientation: landscape) {
      flex: 0 1 17em;
    }
  }

  @media screen and (min-width: 768px) {
    &.has-open {
      //flex-basis: 41.5em;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 1em 1.618em;
    flex: 0 1 28.5em;
  }

  @media screen and (min-width: 1920px) {
    flex: 0 1 41.5em;
  }

  .listwrapper {
    display: flex;
    @media screen and (orientation: portrait) {
    }
  }

  .list {
    flex-wrap: wrap;
    display: flex;
    align-items: inherit;
    gap: 1em;
    z-index: 1;
    scroll-snap-type: x mandatory;
    scroll-padding: 1em;

    @media screen and (orientation: portrait) {
      flex-wrap: nowrap;
      overflow-x: scroll;
      align-self: end;
      margin-left: -1.618em;
      margin-right: -1.618em;
      padding-left: 1.618em;
      padding-right: 1.618em;
    }
  }

  &.open {
    cursor: default !important;
    flex: 0 1 100%;
    backdrop-filter: blur(2px) !important;

    .list {
      flex-wrap: wrap;
      justify-content: space-between;
      //justify-content: center;
      max-width: 118.3em;
    }
    @media screen and (orientation: portrait) {
      .list {
        justify-content: center;

        padding-left: 0;
        padding-right: 0;
      }
    }

    @media screen and (min-width: 768px) {
      top: unset;
      flex: 0 0 100%;

      .list {
        margin: auto;
        //justify-content: start;
      }
    }
  }
}
